<configuration scan="true">
      
  <appender name="OUTPUT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/tmp/output.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>output-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
       <pattern>%d{HH:mm:ss.SSS} %-5level %class{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.datastax.sh" level="INFO" >
     <appender-ref ref="OUTPUT_FILE" />
  </logger>
      
</configuration>